doctype 5
html
    head
        title Eucalyptus Success Uploader
    body
        h1 Upload File
        form(method="POST", action="/upload", enctype="multipart/form-data")
            fieldset
                legend File
                p
                    input(type="file", name="file")
            p
                input(type="submit")